In [4]:
import pandas as pd

url = ('https://resources.oreilly.com/learning-paths/graph-algorithms-in-practice/raw/master/data/airlines.csv')
df = pd.read_csv(url)

In [5]:
df.head()

,-1,Unknown,\N,-,N/A,\N.1,\N.2,Y
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 8 columns):
-1         6161 non-null int64
Unknown    6161 non-null object
\N         5655 non-null object
-          1534 non-null object
N/A        6075 non-null object
\N.1       5353 non-null object
\N.2       6146 non-null object
Y          6161 non-null object
dtypes: int64(1), object(7)
memory usage: 385.1+ KB