In [1]:
import pandas as pd 
import numpy as np 
%matplotlib inline

In [2]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot

print(__version__) # wajib pakai version >= 1.9.0

4.8.1

In [3]:
import cufflinks as cf

In [19]:
init_notebook_mode(connected=True)

In [20]:
cf.go_offline()

In [22]:
df = pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())

In [23]:
df.head()

          A         B         C         D
0  0.254521 -0.943023  0.031026 -0.222334
1 -2.095622 -1.179997 -0.503806  0.064587
2 -0.461740 -0.617267  0.292090  0.389886
3  0.501061 -1.660881  1.093496 -0.066684
4 -1.009187 -0.208710 -0.290564  0.542916

In [24]:
df2 = pd.DataFrame({'Category':['A','B','C'],'Values':[32,43,50]})

In [25]:
df2.head()

  Category  Values
0        A      32
1        B      43
2        C      50

In [ ]:
df.iplot(kind)